# Environment variables
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/
env/

.backend/.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Alembic / temporary files
*.sqlite
*.db